/* ============================================
   APP LAYOUT (CSS GRID) - BEM
   ============================================
   
   TODO: Implement CSS Grid layout here!
   See: /notes/ui-design.md for the layout scheme
   
   ============================================ */

.app {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
}

.app__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-xl);

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

.app__sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.app__main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}